.chats-body {
  padding: 10px 0px;
  padding-top: 150px;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chats-body {
  /*background-color: red;*/
  background-image: url(../images/chartbg.png);
  min-height: 105vh;
  /*to give 100% to viewport(viewport is screen)*/
}

.chat__write-container {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  /*Perfectly centered by margin : 0 auto; and left:0; right:0;*/

  /*padding: 5px 23px;*/
  /*box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
*/
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

@keyframes float {
  0% {
    /*transform: translateY(-100px);*/
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    /*transform: translateY(-95px);*/
    box-shadow: 0 30px 60px -50px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    /*transform: translateY(-100px);*/
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  border: none;
  font-size: 18px;
  transition: width 0.7s ease-in, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;

  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 5s linear infinite forwards;
  /*Add animation(like pop up)*/
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.5s ease-in-out;
  /*transition can be use if icon is next of input*/
  cursor: pointer;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}
/* sibling selector : chat__icon will hide when I use(focus) class chat__write.*/

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 15px;
}

.chat__write-column i {
  cursor: pointer;
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: rgb(237, 239, 241);
  color: black;
  font-weight: 700;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  /*text-transform: uppercase;*/
}

/*chat with friend4*/

.message {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.message .message__content {
  width: 80%;
}

.incoming-message img {
  width: 50px;
  border-radius: 15px;
  margin-right: 20px;
}

.incoming-message {
  align-self: flex-start;
  width: 70%;
}

.sent-message {
  align-self: flex-end;
  width: 60%;
}

.message__timestamp {
  width: 18%;
  font-size: 14px;
  opacity: 0.7;
}

.incoming-message .message__author {
  margin-bottom: 8px;
  display: block;
  font-weight: 600;
  font-size: 16px;
}

.incoming-message .message__timestamp {
  margin-bottom: -12%;
}

.sent-message .message__timestamp {
  margin-bottom: -8%;
}

.message .message__bubble {
  font-weight: 600;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  /*text-transform: uppercase;*/
}

.incoming-message .message__bubble {
  color: white;
  border-top-left-radius: 0px;
  /* top to bottom -> background-image: linear-gradient(#ffffff, #a1ffce);*/
  background-image: linear-gradient(to right, #2c3e50, #fd746c);
}

.sent-message .message__bubble {
  color: rgb(58, 50, 65);
  border-top-right-radius: 0px;
  background-image: linear-gradient(to left, #be93c5, #7bc6cc);
}

@keyframes incommingAnim {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incommingAnim 1s ease-out forwards;
}

@keyframes sentanim {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentanim 1s ease-out forwards;
}
/*forward's mean is element(.sent-message) will keep values*/
