.find .find__header-list {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  /*padding: 0px 20px;  you could use this instead of justify-content: space-around; */
}
/*Reason of flex : to seperate icons*/

.find .header-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Reason of flex : to move sentences under the icons and align center*/

.find .header-btn__title {
  display: block;
}

.find .header-btn__title {
  margin-top: 20px;
  font-size: 14px;
}

.find .header-btn__icon {
  font-size: 14px;
}

.find .find__recommended {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1.5px solid #f7f7f7;
}

.find .find__title {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 18px;
}

.find .friend__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer; /*to change appearance of mouse cursor as clicker*/
}

.header-btn {
  cursor: pointer; /*to change appearance of mouse cursor as clicker*/
}
