.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 50px;
  height: 50px;
  border-radius: 37%;
}

.friend__avatar.midium-avatar {
  width: 60px;
  height: 60px;
}

.friend__avatar.g-avatar {
  width: 70px;
  height: 70px;
}
/*if the avatar seperate with g-avatar then it means g-avatar inside friend__avatar*/
/*this one means applying avatar and g-avatar, also*/

.friend .friend__column {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.friend__column .friend__avatar {
  margin-right: 10px;
}

.friend__column .nav__badge {
  margin-right: 20px;
  margin-top: 0px;
  width: 20px;
  height: 20px;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #dc5d46;
  border-radius: 50%;
}

.friend__content .friend__name {
  font-size: 20px;
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text {
  opacity: 0.7;
}
.friend__content .friend__status {
  font-size: 14px;
}

.friend__content .friend__bottom-text {
  font-size: 16px;
}

.friend .chat__timestamp {
  font-size: 15px;
  opacity: 0.7;
}

.friend .friend__now-listening {
  border: 1.5px solid #52e084;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
}

/*if you want to change opacity of font only, not include border of it*/
.friend__now-listening span {
  opacity: 0.7;
}

.friend__now-listening i {
  margin-left: 4px;
  font-size: 12px;
}
